.about {
  padding: 2rem;
  width: 70rem;
  color: #444;
  text-align: justify;
  margin: auto;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 5%;
  clip-path: polygon(0 28%, 100% 0, 100% 100%, 0% 100%);
}
