.education {
  padding: 2rem;
  width: 100%;
  color: #444;
  margin: auto;
  text-align: center;
  padding-bottom: 10%;
  padding-top: 5%;
  background-color: #abb0b5;
}
.carousel-description {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 0);
  text-align: center;
  background-color: #000000a1;
  padding: 25px;
  width: 100%;
  color: #fff;
}
.carousel-description a {
  color: #fff;
  text-decoration: none;
}
.carousel-description a:hover {
  color: lightgrey;
  text-decoration: none;
}
