.skills {
  padding: 2rem;
  width: 100%;
  color: #444;
  text-align: center;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  background-image: linear-gradient(to bottom right, white, #abb0b5);
}
.uniqueCounters {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.counterColumn {
  width: 30%;
}

@keyframes backgroundColorPalette {
  0% {
    background: #fff;
  }
  25% {
    background: #abb0b5;
  }
  50% {
    background: #fff;
  }
  75% {
    background: #abb0b5;
  }
  100% {
    background: #fff;
  }
}
